// main: ../default.scss
@media screen and (max-width: $media-M) {
  .h-logo {
    width: 30%;
    margin: 4px 0 0 20px;
    max-width: 160px;
  }
  .h-nav {
    display: none;
  }
}
@media screen and (min-width: $mediaL-) {
  header {
    display: table;
    padding-top: 12px;
  }
  .h-logo {
    width: 160px;
    margin-right: 300px;
  }
  .h-nav {
    display: table-cell;
    vertical-align: bottom;
    margin: 0 40px 0 auto;
    &--list {
      @include flex();
      margin-bottom: 10px;
      &__item {
        margin: 0 30px;
        border-bottom: 1px solid $green;
      }
    }
  }
}
